* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', Calibri, Arial, sans-serif;
}
h1 {
	margin-top: 1%;
	margin-bottom: 1.5%;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.side-by-side {
	width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.side-by-side section {
	width: 45%;
	margin-left: 3%;
}
.add-contact {
	display: none;
	font-weight: 600;
}
.add-contact-visible {
	display: block;
}
.add-contact h2 {
	margin: 0.05% 0;
	font-size: 1.5rem;
}
.add-contact div {
	margin: 2% 0;
}
.add-contact input[type="text"] {
	margin: 0.5% 0;
	width: 100%;
	font-size: 1.1rem;
}
.add-contact-header, .add-phone-number,
.delete-phone-number, .delete-address {
	display: flex;
	flex-direction: row;
}
.add-phone-number label, .delete-phone-number label,
.delete-address label {
	margin: auto 0;
}
#sub {
	width: 7rem;
	margin-left: 1%;
	margin-top: 2%;
	margin-bottom: 3%;
	cursor: pointer;
	padding: 0.5rem 0.6rem;
	text-align: center;
	text-decoration: none;
	font: 0.75rem Arial, Helvetica, sans-serif;
	border-radius: 2px;
}
#sub {
	background-color: #216288;
	color: #FFFFFF;
    border: 1px solid #17445E;
}
#add-address, #add-phone-number,
.del-phone-number, .del-address {
	background-color: #a3a3a3;
    color: #000000;
    border: 1px solid #858585;
    cursor: pointer;
}
#add-phone-number, #add-address,
.del-phone-number, .del-address,
#cancel {
	margin-left: auto;
    padding: 0.6rem 0.6rem;
    text-align: center;
    text-decoration: none;
    font: 0.7rem Arial, Helvetica, sans-serif;
    border-radius: 2px;
}
#cancel {
	width: 6rem;
	background-color: #dfdfdf;
    color: #000000;
    border: 1px solid #858585;
    cursor: pointer;
}
#cancel:hover {
    background: linear-gradient(to bottom, #e5e5e5 5%, #f2f2f2 100%);
    background-color: #e2e2e2;
}
#add-phone-number {
	width: 8rem;
}
#add-address {
	width: 7rem;
	margin-left: 0;
}
.del-phone-number {
	width: 9rem;
}
.del-address {
	width: 7rem;
}
#add-address:hover, #add-phone-number:hover,
.del-phone-number:hover, .del-address:hover {
    background: linear-gradient(to bottom, #adadad 5%, #c0c0c0 100%);
    background-color: #8f8f8f;
}
#sub:hover {
    background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
    background-color: #28739E;
}
.list-contact {
	margin-left: 1%;
	clear: both;
	height: 20rem;
	margin-bottom: 2%;
}
.list-contact .add-bar {
	margin-left: 0.05%;
	font-size: 1.5rem;
	margin-bottom: 1.5%;
}
.list-contact ul {
	margin-left: 1rem;
}
.list-contact li {
	padding: 0.25rem;
	width: 18rem;
	display: flex;
	flex-direction: row;
}
.list-contact li:hover {
	cursor: pointer;
	box-shadow: 2px 2px 10px #808080;
}
.list-contact li:hover svg {
	display: inline-block;
}
.list-contact a {
	flex-grow: 3;
	text-decoration: none;
	color: #216288;
	width: 100%;
}
.list-contact h4 {
	display: inline-block;
}
.list-contact .plus {
	vertical-align: middle;
}
.list-contact .plus:hover {
	cursor: pointer;
}
.list-contact .x {
	display: none;
	flex-grow: 1;
	vertical-align: middle;
}
.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.edit-item-form input {
	width: 100%;
    background-color: #F8F8F8;
    padding: 2px;
}
h4 {
	font-size: 1.2rem;
	font-weight: 300;
    color: #C7CACD;
    font-style: italic;
}
.show-contact {
	font-weight: 600;
}
.show-contact > ul {
	list-style-type: none;
}
.show-contact > ul > li{
	margin: 1% 0;
}
.show-contact > ul > ul {
	list-style-type: disc;
}
.show-contact > ul > ul > li {
	margin: 2% 0 2% 10%;
}
.hidden {
	display: none;
}
@media only screen and (max-width: 480px), screen and (max-device-width: 480px) {
	.side-by-side {
		flex-direction: column;
	}
}